.error {
    display: flex;
    align-items: center;
    height: 100%;

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        transform: translateY(-50%);
    }

    &__title {
        font-size: 2.5rem;
        font-weight: bold;

        margin-bottom: 0.5rem;
    }

    &__subtitle {
        font-size: 1.25rem;

        margin-bottom: 2rem;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2rem;
    }

    &__button_main,
    &__button_back {
        width: 10.5rem;
    }
}