* {
    box-sizing: border-box;

    color: var(--text-color);

    padding: 0;
    margin: 0;

    appearance: none;

    line-height: 1.2;
}

button {
    background: none;

    border: none;
    outline: none;

    cursor: pointer;
}

input {
    border: 0;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }

    &::-ms-clear {
        display: none;
    }
}

:focus,
:active {
    outline: none;
}

a,
a:focus,
a:active {
    color: #fff;
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}