:root {
    --background-color: #fff;
    --background-second-color: #f6f6f6;

    --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;

    --button-color: #fff;

    --text-color: #333;

    --style-color: #3366FF;
    --style-hover-color: #3388FF;
    --style-active-color: #3344FF;
}

body._theme-dark {
    --background-color: #222;
    --background-second-color: #333;

    --box-shadow: none;

    --button-color: #fff;

    --text-color: #fff;

    --style-color: #000066;
    --style-hover-color: #002266;
    --style-active-color: #110055;
}